<nav class="nav nav-tabs navbar-dark bg-light">
    <app-logo></app-logo>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="/">Home</a>    
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="login">Login</a>  
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="logout">Logout</a>     
</nav>

<!--
<nav class="nav nav-tabs navbar-dark bg-light">
    <app-logo></app-logo>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="/">Home</a>   
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="profile">Profile</a>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="logout">Logout</a>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="login">Login</a>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="new">New Request</a>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="all">All Requests</a>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="manager">Manager</a>       
</nav>

-->
