<div class="container">
    <h2>Please login to continue</h2>
    <form>
        <div class="form-group">
            <label for="emaili"> Email Address
                <input class="form-control" type="email" id="emaili" name="emaili" [(ngModel)] = "user.userName">
            </label>
        </div>
        <div class="form-group">
            <label for="passwordi"> Password
                <input class="form-control" type="password" id="passwordi" name="passwordi" [(ngModel)]="user.password">
            </label>
        </div>
       
    </form>
    <button class="btn btn-primary" (click)="login()">Login</button>

    <!--
 <p>diagnostic: {{user | json}}</p>
    -->
   

</div>



